
<section class="content">
  <img src="/images/protonet_node.png" alt="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)" title="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)">
  <h1>protonet. <b>it's yours.</b> soon.</h1>
  <p>
    We're building the next-gen internet infrastructure. Truly social and people-powered.<br>
    Enter your e-mail address below to stay informed:
  </p>
  <form method="post" action="/subscribe">
    <input type="email" name="email" placeholder="Enter your e-mail address ...">
    <button type="submit">Subscribe</button>
  </form>
  
  <h2>our videos</h2>
  <ul>
    <li>
      <a href="http://vimeo.com/29049923" target="_blank" data-lightbox="http://player.vimeo.com/video/29049923?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Basic social functions">Software: Basic social functions</a>
    </li>
    <li>
      <a href="http://vimeo.com/27912864" target="_blank" data-lightbox="http://player.vimeo.com/video/27912864?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Spontaneous protonet talk">Spontaneous protonet talk</a>
    </li>
  </ul>
</section>
