
<section class="content">
  <img src="/images/protonet_node.png" alt="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)" title="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)">
  <h1>protonet. <b>it's yours.</b> soon.</h1>
  
  <h4>Providing small and medium enterprises with a unique one-button social infrastructure and enabling them to control their own and secure private cloud - hassle free.</h4>
  <p>Enter your e-mail address below to stay informed:</p>
  <form method="post" action="/subscribe">
    <input type="email" name="email" placeholder="Enter your e-mail address ...">
    <button type="submit">Subscribe</button>
  </form>
  
  <h2>recent articles</h2>
  <ul>
    <li><a href="http://blog.protonet.info/post/16864134090/protonet-meet-the-team" target="_blank">Meet The Team</a></li>
    <li><a href="http://blog.danopia.net/2011/12/protonet-is-awesome.html" target="_blank">protonet [is awesome]</a></li>
  </ul>
</section>
