
<section>
  <img src="/images/protonet_node.png" alt="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)" title="The protonet node: our hardware, our product. Built with love in Hamburg (Germany)">
  <h1>protonet. <i>it's yours.</i> soon.</h1>
  <p>
    We're building the next-gen internet infrastructure. Truly social and people-powered.<br>
    Enter your E-Mail address below to stay informed:
  </p>
  <form method="post" action="/subscribe">
    <input type="email" name="email" placeholder="Enter your e-mail address ...">
    <button type="submit">Subscribe</button>
  </form>
</section>
