<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="http://www.protonet.info/images/og_image.jpg">
    <meta property="og:title" content="protonet. it's yours. soon.">
    <meta property="og:description" content="We're building the next-gen internet infrastructure. Truly social and people-powered.">
    <meta property="fb:admins" content="747102405">
    <title>protonet. it's yours. soon.</title>
    <link rel="stylesheet" href="/stylesheets/main.css?v=1" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="alternate" href="http://protonet.info/rss" type="application/rss+xml">
    <!--[if lt IE 9]><script src="/javascripts/html5shim.js"></script><![endif]-->
  </head>
  <body>
    <nav>
      <a href="http://twitter.com/protonet" target="_blank" title="follow us on twitter">twitter</a>
      <a href="https://www.facebook.com/pages/protonet/287057047977865" target="_blank" title="follow us on facebook">facebook</a>
      <a href="http://protonet.tumblr.com" target="_blank" title="read our blog">protonet tumblr blog</a>
      <a href="https://github.com/protonet" target="_blank" title="follow us on github">protonet github organization</a>
      <a href="http://protonet.tumblr.com/rss" target="_blank" title="subscribe to our rss feed">rss feed</a>
    </nav>
    <%- body %>
    <footer>
      <address>
        <a href="http://maps.google.com/maps?q=betahaus+hamburg&amp;ll=53.558054,9.961338&amp;spn=0.03003,0.088234&amp;sll=37.0625,-95.677068&amp;sspn=40.86791,90.351563&amp;vpsrc=0&amp;t=h&amp;z=14&amp;iwloc=A" target="_blank">
          protonet @betahaus &nbsp;|&nbsp; Lerchenstraße 28a &nbsp;|&nbsp; 22767 Hamburg &nbsp;|&nbsp; Germany</a>
        &nbsp;|&nbsp; team [ät] protonet.info
      </address>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>