<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>protonet - it's yours</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" href="http://protonet.info/rss"/>
  </head>
  <body>
    <nav>
      <a href="http://twitter.com/protonet" target="_blank" title="follow us on twitter">twitter</a>
      <a href="https://www.facebook.com/pages/protonet/287057047977865" target="_blank" title="follow us on facebook">facebook</a>
      <a href="http://protonet.tumblr.com" target="_blank" title="read our blog">protonet tumblr blog</a>
      <a href="https://github.com/protonet" target="_blank" title="follow us on github">protonet github organization</a>
      <a href="http://protonet.tumblr.com/rss" target="_blank" title="subscribe to our rss feed">rss feed</a>
    </nav>
    <%- body %>
    <footer>
      <address>
        <a href="http://maps.google.com/maps?q=betahaus+hamburg&amp;ll=53.558054,9.961338&amp;spn=0.03003,0.088234&amp;sll=37.0625,-95.677068&amp;sspn=40.86791,90.351563&amp;vpsrc=0&amp;t=h&amp;z=14&amp;iwloc=A" target="_blank">
          protonet @betahaus &nbsp;|&nbsp; Lerchenstraße 28a &nbsp;|&nbsp; 22767 Hamburg &nbsp;|&nbsp; Germany</a>
      </address>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>