<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>protonet - it's yours</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>
    <nav>
      <a href="http://twitter.com/protonet" target="_blank">twitter</a>
      <a href="http://facebook.com/protonet" target="_blank">facebook</a>
      <a href="http://protonet.tumblr.com" target="_blank">tumblr</a>
      <a href="http://protonet.tumblr.com/rss" target="_blank">rss feed</a>
    </nav>
    <%- body %>
    <footer>
      <address>
        <a href="http://maps.google.com/maps?q=betahaus+hamburg&amp;ll=53.558054,9.961338&amp;spn=0.03003,0.088234&amp;sll=37.0625,-95.677068&amp;sspn=40.86791,90.351563&amp;vpsrc=0&amp;t=h&amp;z=14&amp;iwloc=A" target="_blank">
          protonet @betahaus &nbsp;|&nbsp; Lerchenstraße 28a &nbsp;|&nbsp; 22767 Hamburg &nbsp;|&nbsp; Germany</a></address>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  </body>
</html>